*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(16px, max(2vh, 2vw), 28px);
  font-family: Arial, Helvetica, sans-serif;

  --font-grey: rgb(128, 128, 128);
  --font-light-black: rgb(71, 71, 71);
  --button-purple: rgb(150, 147, 155);
  --darken: rgba(0, 0, 0, 0.11);
  --shadow: rgb(210, 210, 210);

  --default-background: rgb(232, 232, 232);
  --cloudy-grey: rgb(191, 191, 191);
}

body {
  display: grid;
  background-color: var(--default-background);
  color: var(--font-light-black);
}

#body-container-inner {
  justify-self: center;
  min-height: 100vh;
  max-width: 100vw;
  background-color: white;
  width: clamp(40vw, 40rem, 100vw);
}

#body-container-inner-inner {
  display: grid;
  grid-template: minmax(20vh, 1fr) 6fr / 100%;
}

/* HEADER */

header {
  border-bottom: 1px solid var(--button-purple);
  display: grid;
  grid-template: 1fr 0.3fr / 1fr;
  padding: 0rem 1rem 0rem 1rem;
}

#header-inner {
  min-width: min(100vw, 30rem);
  min-height: 15vh;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-content: center;
  gap: min(2rem, 3vh);
}

header h2 {
  font-size: 1.8rem;
}

#previous-searches-bar {
}

#disclaimer {
  font-size: 0.8rem;
  color: var(--font-grey);
  font-style: italic;
}

#search-form {
  display: flex;
  flex-flow: wrap;
  gap: 0.3rem;
  align-items: center;

  > * {
    background-color: white;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-size: 0.7rem;
    height: clamp(1.4rem, max(3vh, 3vw), 2rem);
  }

  input {
    padding: 0 0 0 0.3rem;
    border: 1px solid var(--font-grey);
    font-weight: lighter;
    transition: all ease-in-out 200ms;
  }

  input:focus {
    box-sizing: border-box;
    transform: scale(1.01);
    border: 1px solid var(--darken);
  }

  input::placeholder {
    font-size: 0.6rem;
    align-self: center;
    user-select: none;
  }

  select {
    border-bottom: 1px solid var(--font-grey);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all ease-in-out 200ms;
    user-select: none;
  }

  select:hover {
    cursor: pointer;
    background-color: var(--darken);
  }

  #search-btn {
    background-color: var(--button-purple);
    color: white;
    width: clamp(48px, 5rem, 96px);
    transition: all ease-in-out 200ms;
    user-select: none;
  }

  #search-btn:hover {
    cursor: pointer;
    box-shadow: 5px 0px 3px var(--shadow);
    border: 1px solid var(--darken);
  }
}

/* favouritebar */

#previous-searches-bar {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  gap: 0.5rem;
  align-items: center;
  align-self: center;
  padding-bottom: 0.5rem;
}

.favourite-div,
.default-view-select {
  font-size: 0.7rem;
  @media screen and (max-width: 800px) {
    font-size: 0.9rem;
  }
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid var(--button-purple);
  border-radius: 8px;
  gap: 0.3rem;
  transition: all ease-in-out 200ms;
}

.default-view-select {
  padding: 0.1rem;
  position: relative;
  background-color: white;
}

.default-view-select:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.default-view-select-wrapper::before {
  content: "Default location :";
  color: var(--font-grey);
  font-size: .7rem;
  display: inline;
  align-self: center;
}

.default-view-select-wrapper {
  display: flex;
  flex-direction: row;
  gap: .2rem;
}

.gap-divider {
  width: 2px;
  height: 60%;
  background-color: var(--font-grey);
}

.favourite-div:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.favourite-div-text {
  margin: 0.1rem;
}

.favourite-div-del-btn {
  height: 100%;
  width: 0.8rem;
  font-size: 0.6rem;
  text-align: center;
  display: grid;
  align-content: center;
  border-left: 2px solid var(--shadow);
  transition: all ease-in-out 100ms;
}

.favourite-div-del-btn:hover {
  border-left: 2px solid rgb(255, 0, 0);
  background-color: var(--darken);
}

/* default welcome header */

#default-msg {
  margin: 6vh 0 0 1rem;
  text-shadow: 3px 3px 3px var(--darken);
  font-style: oblique;
}

/* WEATHER DISPLAY */

#location-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.5rem;
  gap: 0.3rem;
}

#star-btn {
  height: 1rem;
  width: 1rem;
  transition: all ease-in-out 200ms;
}

#star-btn:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 1px var(--shadow));
}

#main-inner {
  padding: min(1rem, 2vw);
}

#info-table {
  display: grid;
  grid-template: 1fr 0.5fr 0.5fr / repeat(2, minmax(30%, 1fr));
  padding: 0.6rem;
  border: 2px solid var(--cloudy-grey);
  border-radius: 8px;
  color: var(--font-light-black);
  > * {
    border-bottom: 1px solid var(--shadow);
  }

  > *:not(#title) {
    padding-block: 0.3rem;
  }

  > * {
    align-content: center;
  }
}

#feels-like {
  font-size: 0.8rem;
  color: var(--font-grey);
}

#title {
  grid-area: 1 / 1 / 2 / 3;
  font-weight: 500;
}

#precip-container {
  #precip-container-title {
    color: var(--font-grey);
    font-size: 0.8rem;
  }
}

/* hourly table */
.hour-legend {
  display: grid;
  grid-template: 1fr / minmax(5%, 10%) repeat(5, minmax(10%, 1fr));
  font-size: 0.65rem;
  font-weight: 550;
  > *:not(.hour-time) {
    flex: 1;
    display: grid;
    justify-items: center;
  }
}

#hour-info {
  padding: 0.6rem;
  border: 2px solid var(--cloudy-grey);
  border-radius: 8px;
  color: var(--font-light-black);
}

#hour-info-inner {
  display: grid;
  grid-template: 0.1fr repeat(24, 1fr) / 1fr;
  text-align: center;
}

.hour {
  display: grid;
  grid-template: 1fr / minmax(5%, 10%) repeat(5, minmax(10%, 1fr));
  font-size: 0.8rem;
  border-bottom: 1px solid var(--shadow);
  padding-block: 0.4rem;

  > * {
    display: grid;
    align-content: center;
    text-align: center;
  }
  > *:not(.hour-date) {
    flex: 1;
    display: grid;
    justify-items: center;
  }
}

.not-legend #hour-info-inner {
  grid-column: 1 / 7;
  width: 100%;
  border-collapse: collapse;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0.4rem 0 0 0;
  transition: all ease-in-out 200ms;

  th,
  td {
    text-align: center;
    font-size: 0.7rem;
    padding-block: 0.2rem;
  }

  th {
    font-weight: 450;
  }

  tr {
    border-block: 1px solid var(--cloudy-grey);
  }
}

#caption {
  padding-block: 0.5rem;
  caption-side: top;
  text-align: left;
}

/* day display styling */
#day-info {
  /*display: grid;
  grid-template: 0.5fr repeat(7, 1fr) / 1fr;*/
  display: flex;
  flex-direction: column;
  border: 2px solid var(--cloudy-grey);
  border-radius: 8px;
  gap: 0.5rem;
  padding: 0.6rem;
}

.day {
  display: grid;
  grid-template: 0.1fr 0.1fr / minmax(5%, 10%) repeat(5, minmax(10%, 1fr));
  font-size: 0.8rem;
  border: 1px solid var(--darken);
  border-radius: 8px;
  padding: 0.3rem;
  align-items: center;
  transition: all ease-in-out 200ms;
  text-align: center;
}

.day > *:nth-child(n + 2) {
  justify-self: center;
}

.not-legend {
  flex: 1;
}

.day.legend {
  font-weight: 550;
  border: none;
  border-bottom: 1px solid var(--font-light-black);
  border-radius: 0px;
}

.not-legend:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.day-date {
  font-size: 1rem;
  font-weight: 550;
}

.expand-hide-symbol {
  height: 1rem;
  width: 1rem;
  grid-column: 1 / 7;
}

/* period buttons */
#period-btns {
  margin-left: 0.5rem;
}

.period-btn {
  border-inline: 2px solid var(--cloudy-grey);
  border-top: 2px solid var(--cloudy-grey);
  border-bottom: none;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  min-height: clamp(1rem, 4vh, 3rem);
  min-width: clamp(2.5rem, 8vh, 7.5rem);
  transition: all ease-in-out 200ms;
  font-size: 0.7rem;
  font-weight: 400;
}

.period-btn.active {
  background-color: white;
}

.period-btn.active:hover {
  background-color: white;
}

.period-btn:hover {
  background-color: whitesmoke;
  cursor: pointer;
  box-shadow: 3px 1px 1px var(--shadow);
}
